h1,h2{
  padding: 50px;
  text-align: center;
}


.date{
  display: flex;
  justify-content: center;
  
  
}

.card{
  width: 100%;
  border-color: black;
  text-align: center;
  padding: 50px;
  margin: 10px;
  
}

.image-box {
  width: 300px; /* set the width of the box */
  height: 300px; /* set the height of the box */
  border: 1px solid #ccc; /* add a border to the box */
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); /* add a box shadow */
  overflow: hidden; /* hide overflowing content */
  display: flex; /* make the content inside the box a flex container */
  align-items: center; /* center the content vertically */
  justify-content: center; /* center the content horizontally */
}

.image-box img {
  width: 100%; /* make the image fill the box */
  height: auto; /* make the image aspect ratio correct */
  object-fit: cover; /* crop the image to fit the box */
}
.container{
  display: flex;
}
